.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 700px;
    margin-top: 20px;
}
body.dark {
    background-color: #1a1a1a;
    color: white;

}

body.light {
    background-color: white;
    color: black;
    

}

.head{
    
    display: flex;
    justify-content: center;
}
.head h1{
   text-align: center;
}
.container{
    font-size: 1.5rem;
    text-align: center;
    
}
#task{
    height: 30px;
    width: 300px;
    font-size: 1.2rem;
    background-color: lightgray;
}
#submit{
    height: 35px;
    width: 80px;
    font-size: 1.2rem;
}
.list{
    height: auto;
    width: 400px;
    border: 1px solid black;

}